name: Test npm package

on:
  pull_request:
    branches:
      - '**'

jobs:
  test_matrix:
    strategy:
      fail-fast: true
      matrix:
        version:
          - 16
          - 18
    name: test and build package (node ${{ matrix.version }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm run build
      - run: npm test
